body {
    padding-top: 70px;
}

#content {
    min-height: 600px;
}
.footer {
    padding-right: 0;
    padding-left: 0;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

#system-message {
    position: fixed;
    z-index: 1051;
    top: 100px;
    right: 25px;
    background: #428bca;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    display: none;
}

.navbar-brand {
    padding: 0px 15px;
}

.flex-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.flex-container:after {
    clear: both;
}

@media (min-width: 1200px) {
    .flex-container {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
.thumbnail img {
    width: 100%;
}

.margin-top-1 {
  margin-top: 5px;
}
.margin-bottom-1 {
  margin-bottom: 5px;
}
.margin-top-2 {
  margin-top: 10px;
}
.margin-bottom-2 {
  margin-bottom: 10px;
}
.margin-top-3 {
  margin-top: 15px;
}
.margin-bottom-3 {
  margin-bottom: 15px;
}